<div class="container footer"
     fxLayout="row wrap"
     fxLayout.lt-md="column"
     fxLayoutAlign="center center"
     fxLayoutGap="10px">

  <div fxFlex="100" fxFlex.gt-sm="50">
    <div fxLayout="row">
      <div fxFlex="40" fxFlexOffset="20px">
        <h4>Links</h4>
        <mat-list>
          <mat-list-item><a mat-button routerLink="/home">Home</a></mat-list-item>
          <mat-list-item><a mat-button routerLink="/about">About</a></mat-list-item>
          <mat-list-item><a mat-button routerLink="/menu">Menu</a></mat-list-item>
          <mat-list-item><a mat-button routerLink="/contact">Contact</a></mat-list-item>
        </mat-list>
      </div>
      <div fxFlex="55">
        <h4>Our Address</h4>
        <address style="text-size: 80%">
          23, Jules Valès<br> Villeurbanne<br> France<br>
          <i class="fa fa-phone"></i>: +330661712773<br>
          <i class="fa fa-fax"></i>: +330961712773<br>
          <i class="fa fa-envelope"></i>: <a href="mailto:isgodzy@gmai.com">isgodzy@gmail.com</a>
        </address>
      </div>
    </div>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="45">
    <div style="text-align:center">
      <a mat-icon-button class="btn-google-plus"
         href="https://brandeps.com/logo-download/G/Google+-Icon-logo-vector-01.svg"><i
        class="fa fa-google-plus fa-lg"></i></a>
      <a mat-icon-button class="btn-facebook"
         href="https://scontent-cdg2-1.xx.fbcdn.net/v/t39.8562-6/109960336_274477960450922_1306319190754819753_n.png?_nc_cat=107&ccb=1-5&_nc_sid=6825c5&_nc_ohc=RDaY_Bw8S3gAX9vGD0_&_nc_ht=scontent-cdg2-1.xx&oh=00_AT9MSHMWpTk7J0dwnvGPbFbALhTS2GGitZXlLSnXorOBoQ&oe=62466AF0"><i
        class="fa fa-facebook fa-lg"></i></a>
      <a mat-icon-button class="btn-linkedin"
         href="https://brandeps.com/icon-download/S/Social-linkedin-circular-icon-vector-01.svg"><i
        class="fa fa-linkedin fa-lg"></i></a>
      <a mat-icon-button class="btn-twitter"
         href="https://brandeps.com/icon-download/T/Twitter-circle-icon-vector-02.svg"><i
        class="fa fa-twitter fa-lg"></i></a>
      <a mat-icon-button class="btn-youtube" href="https://brandeps.com/icon-download/Y/Youtube-icon-vector-11.svg"><i
        class="fa fa-youtube fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:https://brandeps.com/icon-download/M/Mail-icon-vector-04.svg"><i
        class="fa fa-envelope-o fa-lg"></i></a>
    </div>
  </div>
  <div>
    <p>© Copyright 2022 Restaurant Confus Zion</p>
  </div>


</div>
