<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" appHighlight [@visibility]="visibility" [@expand]>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3 *ngIf="dish">{{ dish.name | uppercase }}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{BaseUrl + dish.image}}" alt="{{dish.name}}">
      <mat-card-content>
        <p>{{ dish.description}} </p>
      </mat-card-content>
      <mat-card-actions>
        <button md-button [routerLink]="['/dish-details', prev]">
          <fa-icon [icon]="iconLeft" appHighlight>PREVIEW</fa-icon>
        </button>
        <button md-button (click)="goBack()" appHighlight>BACK</button>
        <button md-button appHighlight>LIKE</button>
        <button md-button appHighlight>SHARE</button>
        <button md-button [routerLink]="['/dish-details', next]">
          <span class="fa fa-chevron-right fa-lg" appHighlight>NEXT</span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="40"
       fxLayout="column"
       fxLayout.sm="column"
       fxLayout.xs="column"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div fxFlex="50"
         fxLayoutAlign.gt-md="stretch center"
         *ngIf="dish" [@visibility]="visibility" [@expand]>
      <mat-list fxFlex>
        <h3>Comments</h3>
        <mat-list-item *ngFor="let Comments of dish.comments" appHighlight>
          <p matLine>
            <span>{{Comments.comment}}</span>
          </p>
          <p matLine>
            <span>{{Comments.rating}} Stars</span>
          </p>
          <p matLine>
            <span>--{{Comments.author}} {{ Comments.date | date }}</span>
          </p>
        </mat-list-item>
      </mat-list>
    </div>
    <div fxFlex="50"
         fxLayoutAlign.gt-md="stretch center"
         *ngIf="commentForm.value.author" appHighlight>
      <mat-list fxFlex>
        <mat-list-item>
          <p matLine><span>{{ commentForm.value.comment }}</span></p>
          <p matLine><span>{{ commentForm.value.rating }} stars</span></p>
          <p matLine><span>{{ commentForm.value.author }} {{ commentForm.value.date }}</span></p>
        </mat-list-item>
      </mat-list>
    </div>
    <div fxFlex [hidden]="dish || errorMessage">
      <mat-spinner></mat-spinner>
      <h4>Loading...Please Wait</h4>
    </div>
    <div fxFlex *ngIf="errorMessage">
      <h2>Error</h2>
      <h4>{{errorMessage}}</h4>
    </div>

    <div fxFlex
         fxLayout="column"
         fxLayout.sm="column"
         fxLayout.xs="column"
         fxLayoutAlign.gt-md="start center"
         fxLayoutGap="10px"
         fxLayoutGap.xs="0">
      <h3>Let your Comments</h3>
      <!-- // Test unitaires
            <p>{{ commentForm.value | json }} {{ commentForm.status | json }}</p>
      -->

      <form novalidate [formGroup]="commentForm" #cform="ngForm" (ngSubmit)="onSubmit()">
        <p>
          <mat-form-field class="half-width" appHighlight>
            <input matInput type="text" formControlName="author" placeholder="Author" required>
            <mat-error *ngIf="formErrors!['author']">{{ formErrors!['author'] }}</mat-error>
          </mat-form-field>
        </p>
        <mat-slider
          thumbLabel
          formControlName="rating"
          [displayWith]="formatRating"
          tickInterval="1"
          step="1"
          min="1"
          max="5"
          aria-label="units" appHighlight></mat-slider>
        <p>
          <mat-form-field class="full-width" appHighlight>
            <textarea matInput formControlName="comment" placeholder="Your Comment" rows="5">
            </textarea>
          </mat-form-field>
        </p>
        <button type="submit" mat-button class="background-primary text-floral-white"
                [disabled]="commentForm.invalid" appHighlight>Send
        </button>
      </form>

    </div>

  </div>

</div>
